/* Place CSS styles here */
body {
    color: rgb(25, 5, 66);
    background-color:rgb(120, 210, 218);
    font-family: "Kadwa", serif; 
    text-align: center;
  
}

p {color: rgb(17, 8, 29);}

.ingredients{
    padding-left: 30px;
    text-align: left;
   display:inline-block
   
}
header{
    color: rgb(2, 44, 98);
    font-family: 'Courier New', Courier, monospace;
}